/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Cabin:wght@400;500;600;700&family=Fira+Code:wght@300;400;500&display=swap");

/* RESETS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-weight: 900;
  font-size: 4.2rem;
}
h2 {
  font-weight: 800;
  font-size: 3.6rem;
}
h3 {
  font-weight: 700;
  font-size: 2.8rem;
}
h4 {
  font-weight: 600;
  font-size: 2.2rem;
}
h4,
h5,
h6 {
  font-weight: 600;
  font-size: 1.8rem;
}

html {
  font-size: 10px;
}

code {
  font-family: "Fira Code", monospace;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* OTHER */
.page-title {
  display: block !important;
  text-align: center;
  margin: 1rem;
}
.form-container {
  width: 400px;
  margin: auto;
  margin-top: 5rem;
  padding: 2.5rem;
  padding-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.01);
  border-left: 1px solid rgba(0, 0, 0, 0.01);
  border-radius: 9px;
  box-shadow: 5px 5px 3rem rgba(0, 0, 0, 0.25);
}
.form-h1 {
  text-align: center;
  margin-top: 2.5rem !important;
  margin-bottom: 5rem;
}
.btn-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  margin-top: 2.5rem !important;
}
.btn {
  width: 10rem !important;
  height: 5rem !important;
  border-radius: 9px !important;
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.5) !important;
  text-transform: uppercase !important;

  border: 2px solid rgba(0, 0, 0, 0.5) !important;
}
.btn:hover {
  color: rgba(0, 0, 0, 0.5) !important;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5) !important;
}
.btn:active {
  color: white !important;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) !important;
}

.reg-btn:hover {
  border: 2px solid tomato !important;
}
.reg-btn:active {
  background-color: orangered !important;
  border: 2px solid rgb(235, 68, 7) !important;
}

.login-btn:hover {
  border: 2px solid rgb(48, 95, 196) !important;
}
.login-btn:active {
  background-color: rgb(51, 106, 209) !important;
  border: 2px solid rgb(43, 65, 194) !important;
}

.tags {
  font-size: 10px !important;
  font-family: "Cabin", sans-serif !important;
  margin: auto !important;
  overflow-wrap: break-word !important;
}

.PostForm {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
